small {
    font-size: 70%;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -ms-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
}

.ng-hide {
    opacity: 0;
}

.bit.ng-enter {
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    opacity: 0;
}

.bit.ng-enter.ng-enter-active {
    opacity: 1;
}

.bit-val.ng-leave {
    opacity: 1;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

.bit-val.ng-leave.ng-leave-active {
    opacity: 0;
}